body,div,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
h1,h2,h3,h4,h5,h6,address,caption{font-style:normal;font-size:100%;font-weight:400}
caption,th{text-align:left}
ol.listreset,.listreset ol,ul.listreset,.listreset ul,.listreset li{list-style:none;margin:0;padding:0}